.project-container{
  display: flex;
  flex-wrap: wrap;
}

.project{
  width: 100px;
  height: 100px;
  margin: 15px 15px 15px 0 ;
  background: #d46ce7;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;



  &.add-new{
    background: #9effb8;
  }

  p{
    text-align: center;
  }
}
